body {
  margin: 0;
  font-size: 36px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@page { size: auto;  margin: 0mm; margin-top: 5mm}

table {
  width: 100%;
  text-align: left;
}
table td {
  padding: 10px;
}
.question-container div, .question-container input{
  display: inline-block;
  width: 48px;
  height: 48px;
  text-align: center;
}
.question-container input{
  font-size: 36px;
}
.question-container div.hint{
  border: 1px solid black;
}

.App {
  padding-left: 20px;
}